extends layout

block content
  aside.right-side
    section.content
      h1
        | #{message}
        small Control panel
      // start:content
      .row
        .col-md-12
          .box.blank-page
            | Stuff goes here.
      // end:content
