html
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')
    meta(name='description', content='')
    meta(name='author', content='')
    title= title
    link(rel="stylesheet" type="text/css" href="css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="css/bootstrap-reset.css")
    link(rel="stylesheet" type="text/css" href="css/arjuna.css")
    link(rel="stylesheet" type="text/css" href="plugins/data-tables/DT_bootstrap.css")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js') 
    script(src="js/jquery-1.11.1.min.js")
  body.cl-default.fixed
    header.header
      a.logo(href='/dashboard')
        i.fa.fa-twitch
        |  D0P3TBOT
      // Header Navbar: style can be found in header.less
      nav.navbar.navbar-static-top(role='navigation')
        #atas.collapse.navbar-collapse
          .navbar-left
          .navbar-right
            ul.nav.navbar-nav
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  img#streamPhotoRight.img-circle.img-responsive.img-user(src='img/user.jpg')
                  strong @#{user.username}
                ul.dropdown-menu.dropdown-login
                  li
                    .navbar-login
                      .row
                        .col-lg-3
                          p.text-center
                            img#streamPhotoRightInner.img-responsive.img-circle(src='img/user.jpg')
                        .col-lg-9
                          p.text-left
                            strong John Doe
                          p.text-left.small johndoe@email.com
                          .row
                            .col-md-6
                              small
                                a(href='#') Edit Profile
                            .col-md-6
                              small
                                a(href='#') Notification
                  li.divider
                  li
                    .navbar-login.navbar-login-session
                      a.btn.btn-default.btn-square.btn-block(href='/logout') Logout
    // end:navbar top
    // start:wrapper body
    .wrapper.row-offcanvas.row-offcanvas-left
      // start:left sidebar
      aside.left-side.sidebar-offcanvas
        section.sidebar
          // Sidebar user panel
          .user-panel
            // Nav tabs
            //- ul.nav.nav-tabs(role='tablist')
            //-   li.active
            //-     a(href='#status', role='tab', data-toggle='tab')
            //-       i.fa.fa-circle
            //-   li
            //-     a(href='#statistics', role='tab', data-toggle='tab')
            //-       i.fa.fa-bar-chart-o
            //-   li
            //-     a(href='#profile', role='tab', data-toggle='tab')
            //-       i.fa.fa-cog
            // Tab panes
            .tab-content
              #status.tab-pane.active
                .image
                  img#streamPhoto.img-circle(src='img/user.jpg', alt='User Image')
                .info
                  p Stream 
                    span#streamStatus Offline
                  small(style='color: #eee;') Viewers: 
                    span#streamViewers 0
              #statistics.tab-pane
                ul.menu
                  li
                    // start message
                    a(href='#')
                      .pull-left
                        img.img-circle(src='img/avatar3.png', alt='User Image')
                      p
                        | Support Team
                        br
                        small
                          i.fa.fa-clock-o
                          |  5 mins
                  // end message
                  li
                    a(href='#')
                      .pull-left
                        img.img-circle(src='img/avatar2.png', alt='user image')
                      p
                        | Admin Team
                        br
                        small
                          i.fa.fa-clock-o
                          |  2 hours
              #profile.tab-pane
                .text-center.profile
                  p Complete your Profile
                  .progress
                    .progress-bar.progress-bar-success.progress-bar-striped.active(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 45%')
                  p
                    | Next Step :
                    a(href='#') Got 320 Points
          // sidebar menu: : style can be found in sidebar.less
          ul.sidebar-menu
            if message == "Dashboard"
              li.active
                a(href='/dashboard')
                  i.fa.fa-dashboard
                  span Dashboard                
            else
              li
                a(href='/dashboard')
                  i.fa.fa-dashboard
                  span Dashboard
            if message == "Commands"
              li.active
                a(href='/commands')
                  i.fa.fa-cog
                  span Commands                
            else
              li
                a(href='/commands')
                  i.fa.fa-cog
                  span Commands
            if message == "Notices"
              li.active
                a(href='/notices')
                  i.fa.fa-bar-chart-o
                  span Notices            
            else
              li
                a(href='/notices')
                  i.fa.fa-bar-chart-o
                  span Notices
            if message == "Chat Alerts"
              li.active
                a(href='/alerts')
                  i.fa.fa-comment
                  span Chat Alerts
            else
              li
                a(href='/alerts')
                  i.fa.fa-comment
                  span Chat Alerts
            if message == "Giveaways"
              li.active
                a(href='/giveaways')
                  i.fa.fa-gift
                  span Giveaways
            else
              li
                a(href='/giveaways')
                  i.fa.fa-gift
                  span Giveaways   
            if message == "Security"
              li.active
                a(href='/security')
                  i.fa.fa-shield
                  span Security
            else
              li
                a(href='/security')
                  i.fa.fa-shield
                  span Security
            if message == "Discord"
              li.active
                a(href='/discord')
                  i.fa.fa-microphone
                  span Discord
            else
              li
                a(href='/discord')
                  i.fa.fa-microphone
                  span Discord
            if message == "TOS"
              li.active
                a(href='/termsofservice')
                  i.fa.fa-print
                  span Terms of Service
            else
              li
                a(href='/termsofservice')
                  i.fa.fa-print
                  span Terms of Service
      // end:left sidebar
      // start:right sidebar
      block content        
    script(src="js/bootstrap.min.js")
    script(src="js/arjuna.js")
    script(src="plugins/advanced-datatable/media/js/jquery.dataTables.js")
    script(src="plugins/data-tables/DT_bootstrap.js")
    script(src="js/app.js")
