extends frontend

block content
  #login
    // start:wrapper
    .header-login
      .text-center
        h1
          i.fa.fa-pied-piper-alt
          |  D0p3tbot Login
    .body-login
      form(role='form' method='POST', action='/login')
        .form-group
          input#email.form-control.input-lg(name='username', type='text', placeholder='Enter username')
        .form-group
          input#password.form-control.input-lg(name='password',type='password', placeholder='Enter Password')
        //.checkbox
        //  label
        //    input(type='checkbox')
        //    |  Remember me
        input.btn.btn-primary.btn-block.btn-lg.btn-perspective(type='submit', value='Submit')
    // end:wrapper
